body {
    background-color: #FFE4E1;
}

.player-roster {
	text-align: center;
	font-size: 16pt; 
}

.bar {
	font-size: 16pt; 
	font-weight: bold;
}

/*.current {
	font-size: 16pt; 
	font-weight: bold;
	display: inline-block;
	text-align: center;
}*/

.max {
	font-size: 16pt; 
	font-weight: bold;
	float:right
}

.player-card {
	margin: 10px 10px 10px 10px;
	font-weight: bold;
}

.panel-heading{
	font-size: 22pt; 
	
}

.player-form {
	font-size: 12pt;
	font-weight: bold; 
	font-family:  Tahoma, Geneva, Verdana, sans-serif
}

#add-player-button {
	background-color: red;
	font-size: 15pt;
	color: white;
	font-weight: bold;
}

.btn:hover
{
background-image:none;
background-color:#ff00ff;
}

.form-group{
	width: 300;
}